<div id="body"><div id="contenedor">
    <div id="central">
        <div id="login">
            <div class="titulo">
                <b>Bienvenido!</b>
            </div>
            <!-- <form (submit)="signIn()" > -->
                <form>
                <div class="form-group">
                    <label for="username">username</label>
                    <!-- <input [(ngModel)]="User.username" name="username" id="username" type="text" class="form-control form-control-alternative" placeholder="username"> -->
                  </div>
                  <div class="form-group"> 
                    <label for="password">Password</label>
                    <!-- <input [(ngModel)]="User.password" name="password" id="password" type="password"  class="form-control form-control-alternative" placeholder="********"> -->
                  </div>
                <!-- <input class="fa fa-user" name='username' type="text" placeholder="username" required /> -->
                <!-- <input type="password" name="password" placeholder="password" class="fa fa-key" required /> -->
                <button routerLink="/LibrosComponent" class="state">Ingresar</button>
            </form>
            <div class="pie-form">
                <a routerLink="/LibrosComponent"><b>Registrarte!</b></a>
            </div>
        </div>
    </div>
</div>
</div>