<div *ngIf="isLogged">

  <!-- <app-sidebar></app-sidebar> -->
  <div class="main-content" *ngIf="mostrarListado">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-danger row">


              <div col-6>
                <h4 class="card-title "><b>Libros registrados</b></h4>
                <p class="card-category">Libros registrados exitosamente.</p>
              </div>
              <div class="col-5"></div>





              <div class="col-3">
                <div class="float-right">
                  <form class="text-center mt-2" autocomplete="off" name="formBuscarReHo" id="formBuscarReHo">
                    <div class="float-left">
                      <div class="input-group form-control-lg p-0">
                        <div class="form-group m-0" id="accionBuscarDownHandlerReHo"></div>
                      </div>
                    </div>
                    <div class="float-right">
                      <div id="accionBuscarReHo" class="d-inline-block">
                        <button mat-mini-fab color="warn" type="button" (click)="mostrarList()"
                          aria-placeholder="Listar">


                          <mat-icon>menu</mat-icon>
                        </button>
                      </div>
                      <div id="accionBuscarReHo" class="d-inline-block" *ngIf="soloAdmin">
                        <button mat-mini-fab color="warn" type="button" (click)="mostrarAgg()"
                          aria-placeholder="Agregar">
                          <mat-icon>plus_one</mat-icon>

                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>





            </div>
          </div>
            <div class="row">

              <div class="col-2 pt-2">
                <mat-card-actions class="child">
                  <button class="button" type="button" mat-raised-button color="primary" (click)="estadisticas()">Estadisticas
  
                    <span class="material-icons">sort</span>
  
                  </button>
                </mat-card-actions>
              </div>
              <div class="col">
                <mat-form-field>
                  <mat-label>Buscar</mat-label>
                  <input matInput (keyup)="filtrar($event)" placeholder="buscar" />
                </mat-form-field>
              </div>

              <div class="col" style="width: fit-content; float: right;">
                <form [formGroup]="filtroProducto" (ngSubmit)="filtrarPro()" class="demo-button">

                  <div class="row">
                    <div class="col">
                      <mat-form-field appearance="fill">
                        <mat-label>Enter a date range</mat-label>
                        <mat-date-range-input [rangePicker]="picker">
                          <input matStartDate formControlName="StartDate" placeholder="Start date">
                          <input matEndDate formControlName="EndDate" placeholder="End date">
                        </mat-date-range-input>
                        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>

                        <mat-error *ngIf="filtroProducto.controls.StartDate.hasError('matStartDateInvalid')">Invalid
                          start
                          date</mat-error>
                        <mat-error *ngIf="filtroProducto.controls.EndDate.hasError('matEndDateInvalid')">Invalid end
                          date
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-1"></div>
                    <div class="col">

                      <mat-card-actions class="child">
                        <button class="button" type="submit" mat-raised-button color="primary">Filtrar</button>
                      </mat-card-actions>
                      <br>
                      <br>
                      <mat-card-actions class="child">
                        <button class="button" type="button" mat-raised-button color="primary"
                          (click)="vaciarFiltro()">Clean</button>

                      </mat-card-actions>
                    </div>

                  </div>


                </form>
              </div>
            </div>



            <table class="table" mat-table [dataSource]="dataSource" matSort     (matSortChange)="announceSortChange($event)" class="mat-elevation-z8" >



              <!-- id Column -->
              <ng-container matColumnDef="id_libro">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by id_libro">
                  id
                </th>
                <td mat-cell *matCellDef="let libros"> {{libros.id_libro}} </td>
              </ng-container>

              <!-- itulo_libro -->
              <ng-container matColumnDef="titulo_libro">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by titulo_libro">
                  Titulo
                </th>
                <td mat-cell *matCellDef="let libros"> {{libros.titulo_libro}} </td>
              </ng-container>




              <!-- Nombre numero_capitulos_libro -->

              <ng-container matColumnDef="numero_capitulos_libro">
                <th mat-header-cell *matHeaderCellDef mat-sort-header
                  sortActionDescription="Sort by numero_capitulos_libro">
                  Numero de Capitulos
                </th>
                <td class="td" *matCellDef="let libros"> {{libros.numero_capitulos_libro}} </td>
              </ng-container>

              <!-- Nombre autores_libro -->

              <ng-container matColumnDef="autores_libro">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by autores_libro">
                  Autor
                </th>
                <td mat-cell *matCellDef="let libros"> {{libros.autores_libro}} </td>
              </ng-container>

              <!-- Nombre fecha_publicacion_libro -->

              <ng-container matColumnDef="fecha_publicacion_libro">
                <th mat-header-cell *matHeaderCellDef mat-sort-header
                  sortActionDescription="Sort by fecha_publicacion_libro">
                  Fecha Publicacion
                </th>
                <td mat-cell *matCellDef="let libros"> {{libros.fecha_publicacion_libro | date: 'dd/MM/yyyy'}} </td>
              </ng-container>



              <!-- Nombre lugar_publicacion_libro -->

              <ng-container matColumnDef="lugar_publicacion_libro">
                <th mat-header-cell *matHeaderCellDef mat-sort-header
                  sortActionDescription="Sort by lugar_publicacion_libro">
                  Lugar Publicacion
                </th>
                <td mat-cell *matCellDef="let libros"> {{libros.lugar_publicacion_libro}} </td>
              </ng-container>

              <!-- Nombre certificado_creditos_libro -->

              <ng-container matColumnDef="certificado_creditos_libro">
                <th mat-header-cell *matHeaderCellDef mat-sort-header
                  sortActionDescription="Sort by certificado_creditos_libro">
                  Certificado Creditos
                </th>
                <td mat-cell *matCellDef="let libros"> {{libros.certificado_creditos_libro}} </td>
              </ng-container>
              <!-- Nombre certificado_investigacion_libro -->

              <ng-container matColumnDef="certificado_investigacion_libro">
                <th mat-header-cell *matHeaderCellDef mat-sort-header
                  sortActionDescription="Sort by certificado_investigacion_libro">
                  Certificacion Inves.
                </th>
                <td mat-cell *matCellDef="let libros"> {{libros.certificado_investigacion_libro}} </td>
              </ng-container>
              <!-- Nombre editorial_libro -->

              <ng-container matColumnDef="editorial_libro">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by editorial_libro">
                  Editorial
                </th>
                <td mat-cell *matCellDef="let libros"> {{libros.editorial_libro}} </td>
              </ng-container>

              <!-- Nombre isbn_libro -->
              <ng-container matColumnDef="isbn_libro">

                <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header
                  sortActionDescription="Sort by isbn_libro">
                  Isbn
                </th>

                <td mat-cell *matCellDef="let libros" class="row">
                  <div class="col-7">

                    {{libros.isbn_libro}}


                  </div>


                  <div class="col" *ngIf="soloAdmin">
                    <button mat-flat-button color="primary" (click)="enviarID(libros.id_libro)"
                      aria-label="Example icon button with a delete icon">
                      <span class="material-icons">mode_edit</span>
                    </button>

                  
                    <button mat-flat-button color="warn" (click)="enviarID_Eliminar(libros.id_libro)"
                      aria-label="Example icon button with a delete icon">
                      <span class="material-icons">delete</span>
                    </button>
                  </div>

                </td>


              </ng-container>

              <!-- Nombre Column -->
              <ng-container>
                <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header
                  sortActionDescription="Sort by nombre">
                  Editar
                </th>
                <td>

                </td>
              </ng-container>

 
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

<button mat-raised-button  (click)="exportAsXLSX()" color="primary"> Export
  <mat-icon>trending_down</mat-icon>
</button>
&nbsp;

            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
              aria-label="Select page of periodic elements">
            </mat-paginator>


          </div>
        </div>
      </div>
    </div>







  <!-- Formulario Agregar -->

  <div class="agregar" *ngIf="mostrarAgregar">
    <div class="agregar">
      <div class="main-content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-danger row">
                  <div class="col-4">
                    <h4 class="card-title">Create Lib</h4>
                    <p class="card-category">Complete your params</p>
                  </div>
                  <div class="col-5"></div>
                  <div class="col-3">
                    <div class="float-right">
                      <form class="text-center mt-2" autocomplete="off" name="formBuscarReHo" id="formBuscarReHo">
                        <div class="float-left">
                          <div class="input-group form-control-lg p-0">
                            <div class="form-group m-0" id="accionBuscarDownHandlerReHo"></div>
                          </div>
                        </div>
                        <div class="float-right">
                          <div id="accionBuscarReHo" class="d-inline-block">
                            <button mat-mini-fab color="warn" type="button" (click)="mostrarList()"
                              aria-placeholder="Listar">


                              <mat-icon>menu</mat-icon>
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div *ngIf="mostrarAgregarIndividual">

                  <div class="card-body">
                    <form (submit)="crearLibros()">
                      <div class="row">


                        <div class="col-md-2">
                          <mat-form-field class="example-full-width">
                            <input [(ngModel)]="libros.id_libro" matInput placeholder="Codigo" type="text" />
                          </mat-form-field>
                        </div>
                        <div class="col-md-4">
                          <mat-form-field class="example-full-width">
                            <input [(ngModel)]="libros.titulo_libro" matInput placeholder="Titulo" type="text" />
                          </mat-form-field>
                        </div>
                        <div class="col-md-4">
                          <mat-form-field class="example-full-width">
                            <input [(ngModel)]="libros.numero_capitulos_libro" matInput placeholder="Capitulos"
                              type="number" />
                          </mat-form-field>
                        </div>







                      </div>

                      <div class="row">


                        <div class="col-md-2">
                          <mat-form-field class="example-full-width">
                            <input [(ngModel)]="libros.autores_libro" matInput placeholder="Autor" type="text" />
                          </mat-form-field>



                        </div>




                        <div class="col-md-4">
                          <mat-form-field class="example-full-width">
                            <input [(ngModel)]="libros.fecha_publicacion_libro" matInput placeholder="Fecha Publicacion"
                              type="date" />
                          </mat-form-field>
                        </div>
                        <div class="col-md-4">
                          <mat-form-field class="example-full-width">
                            <input [(ngModel)]="libros.lugar_publicacion_libro" matInput placeholder="Lugar Publicacion"
                              type="text" />
                          </mat-form-field>
                        </div>
                      </div>

                      <div class="row">


                        <div class="col-md-4">
                          <mat-form-field class="example-full-width">
                            <input [(ngModel)]="libros.certificado_creditos_libro" matInput
                              placeholder="Certificacion Creditos" type="text" />
                          </mat-form-field>
                        </div>
                        <div class="col-md-4">
                          <mat-form-field class="example-full-width">
                            <input [(ngModel)]="libros.editorial_libro" matInput placeholder="Editorial" type="text" />
                          </mat-form-field>
                        </div>
                        <div class="col-md-4">
                          <mat-form-field class="example-full-width">
                            <input [(ngModel)]="libros.isbn_libro" matInput placeholder="Isbn" type="text" />
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                          <input [(ngModel)]="libros.certificado_investigacion_libro" matInput
                            placeholder="Certificado Investigacion" type="text" />
                        </mat-form-field>
                      </div>

                      <div class="col clearfix">

                        <button mat-raised-button type="submit" class="btn btn-danger pull-right">
                          Create Libro
                        </button>
                      </div>

                      <div class="row">
                        <div class="col clearfix">
                          <button (click)="mostrarMas()" class="btn btn-danger pull-right">
                            Cambiar A Masivo
                          </button>
                        </div>
                      </div>
                      <div class="clearfix"></div>
                    </form>
                  </div>
                </div>

                <!-- Modal -->
                <div *ngIf="mostrarAgregarMasivo" class="row">

                  <div class="col-2">
                    <div>
                      <a href="../../assets/Files/PlantillaAddMasivaLibro.xlsx" class="link-success pl-2 pt-2">
                        <div>
                          <img src="../../assets/Files/excel.png" width="40%" class="rounded mx-auto d-block" alt="">

                        </div>
                        <div>
                          <span class="badge badge-success"> Descargar Plantilla
                          </span>

                        </div>
                      </a>
                    </div>
                    <div class="clearfix">
                      <button (click)="mostrarIndi()" class="btn btn-danger ">
                        Cambiar A Individal
                      </button>
                    </div>


                  </div>
                  <div class="col-10">
                    <form id="file-upload-form" class="uploader">
                      <div class="form-group files">

                        <input id="file-upload" type="file" (change)="onFileChange($event)" name="fileUpload"
                          accept=".xls,.xlsx" />
                      </div>

                      <label for="file-upload" id="file-drag">
                        <img id="file-image" src="#" alt="Preview" class="hidden">
                        <div id="start">
                          <i class="fa fa-download" aria-hidden="true"></i>
                          <div>Select a file or drag here</div>
                          <div id="notimage" class="hidden">Please select an Document </div>
                          <span id="file-upload-btn" class="btn btn-primary">Select a file</span>
                        </div>
                        <div id="response" class="hidden">
                          <div id="messages"></div>
                          <progress class="progress" id="file-progress" value="0">
                            <span>0</span>%
                          </progress>
                        </div>
                      </label>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




  <!-- Formulario Editar -->

  <div class="agregar" *ngIf="mostrarEditar">
    <div class="agregar">
      <div class="main-content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-danger row">
                  <div class="col-4">
                    <h4 class="card-title">Editar Lib</h4>
                    <p class="card-category">Complete your params</p>
                  </div>
                  <div class="col-5"></div>
                  <div class="col-3">
                    <div class="float-right">
                      <form class="text-center mt-2" autocomplete="off" name="formBuscarReHo" id="formBuscarReHo">
                        <div class="float-left">
                          <div class="input-group form-control-lg p-0">
                            <div class="form-group m-0" id="accionBuscarDownHandlerReHo"></div>
                          </div>
                        </div>
                        <div class="float-right">
                          <div id="accionBuscarReHo" class="d-inline-block">
                            <button mat-mini-fab color="warn" type="button" (click)="mostrarList()"
                              aria-placeholder="Listar">


                              <mat-icon>menu</mat-icon>
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <form (submit)="editarLibro()">
                    <div class="row">
                
                
                      <div class="col-md-2">
                        <mat-form-field class="example-full-width">
                          <input [(ngModel)]="id_libro" [value]="libros.id_libro" matInput placeholder="Codigo" type="text" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                          <input [(ngModel)]="titulo_libro" [value]="libros.titulo_libro" matInput placeholder="Titulo" type="text" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                          <input [(ngModel)]="numero_capitulos_libro" [value]="libros.numero_capitulos_libro" matInput placeholder="Capitulos"
                            type="number" />
                        </mat-form-field>
                      </div>
                
                
                    </div>
                
                    <div class="row">
                
                
                      <div class="col-md-2">
                        <mat-form-field class="example-full-width">
                          <input [(ngModel)]="autores_libro" [value]="libros.autores_libro" matInput placeholder="Autor" type="text" />
                        </mat-form-field>
                
                
                
                      </div>
                
                
                
                
                      <!-- <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                          <input [value]="libros.fecha_publicacion_libro" matInput placeholder="Fecha Publicacion"
                            type="date" />
                        </mat-form-field>
                      </div> -->
                      <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                          <input [(ngModel)]="lugar_publicacion_libro" [value]="libros.lugar_publicacion_libro" matInput placeholder="Lugar Publicacion" [value]="libros.lugar_publicacion_libro"
                            type="text" />
                        </mat-form-field>
                      </div>
                    </div>
                
                    <div class="row">
                
                
                      <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                          <input [(ngModel)]="certificado_creditos_libro" [value]="libros.certificado_creditos_libro" matInput
                            placeholder="Certificacion Creditos" type="text" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                          <input [(ngModel)]="editorial_libro" [value]="libros.editorial_libro" matInput placeholder="Editorial" type="text" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                          <input [(ngModel)]="isbn_libro" [value]="libros.isbn_libro" matInput placeholder="Isbn" type="text" />
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <mat-form-field class="example-full-width">
                        <input [(ngModel)]="certificado_investigacion_libro" [value]="libros.certificado_investigacion_libro" matInput
                          placeholder="Certificado Investigacion" type="text" />
                      </mat-form-field>
                    </div>
                
                
                    <button mat-raised-button type="submit" class="btn btn-danger pull-right">
                      Editar Libro
                    </button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




    <!-- Modal Estadisticas -->

    <div class="agregar" *ngIf="mostrarEstadistica">
      <div class="agregar">
        <div class="main-content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header card-header-danger row">
                    <div class="col-4">
                      <h4 class="card-title">Generate stadistics</h4>
                      <p class="card-category">Complete your Filter</p>
                    </div>
                    <div class="col-5"></div>
                    <div class="col-3">
                      <div class="float-right">
                        <form class="text-center mt-2" autocomplete="off" name="formBuscarReHo" id="formBuscarReHo">
                          <div class="float-left">
                            <div class="input-group form-control-lg p-0">
                              <div class="form-group m-0" id="accionBuscarDownHandlerReHo"></div>
                            </div>
                          </div>
                          <div class="float-right">
                            <div id="accionBuscarReHo" class="d-inline-block">
                              <button mat-mini-fab color="warn" type="button" (click)="mostrarList()"
                                aria-placeholder="Listar">
                                <mat-icon>menu</mat-icon>
                              </button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                  <div >
  
                    <div class="card-body">
                     
                      <form  (ngSubmit)="filtrarEstadistica()" class="demo-button">
  
                        <div class="row">
                          <div class="input-group mb-3 col-2">
                            
                            <mat-form-field class="example-full-width">
                              <input [(ngModel)]="fecha" matInput placeholder="Año" type="text" />
                            </mat-form-field>
  
                          </div>
                        <div class="col-sm-1">
  
                        </div>
  
                        
  
                          <div class="col pt-2">
                            
                            <mat-card-actions class="child">
                              <button class="button" type="submit" mat-raised-button color="primary">Filtrar</button>
                            </mat-card-actions>
                           
                          </div>
  
                        </div>
        
        
                    
               
                    
                      </form>
                      <div id="estadistica">

                      <ngx-charts-bar-vertical
                      [view]="view"
                      [scheme]="colorScheme"
                      [results]="nuevo"
                      [gradient]="gradient"
                      [xAxis]="showXAxis"
                      [yAxis]="showYAxis"
                      [legend]="showLegend"
                      [showXAxisLabel]="showXAxisLabel"
                      [showYAxisLabel]="showYAxisLabel"
                      [xAxisLabel]="xAxisLabel"
                      [yAxisLabel]="yAxisLabel"
                      [showDataLabel]="showDataLabel"
                      (select)="onSelect($event)">
                      </ngx-charts-bar-vertical>
                      </div>
                    </div>
                  </div>
                  <div class="col-2 pt-2">
                    <mat-card-actions class="child">
                      <button class="button" type="button" mat-raised-button color="primary" (click)="imprSelec()">Imprimir
      
                        <span class="material-icons">print</span>
      
                      </button>
                    </mat-card-actions>
                  </div>
                  <br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>