table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }

  /* td{
    text-align: -webkit-center;
  }

  
  th{
    text-align: -webkit-center;
  } */
  #wrapped+.input-group-addon {
    margin: 0;
    padding: 0;
    min-width: 8rem;
    border: none;
}
#wrapped+.input-group-addon>.form-control {
    border-radius: 0 .4rem .4rem 0;
    border-left: none;
}

