<!-- Formulario Listar -->

<div class="main-content" *ngIf="mostrarListado">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger row">
            <div col-6>
              <h4 class="card-title"><b>Listado de Semilleros</b></h4>
              <p class="card-category">Semilleros registradas exitosamente.</p>
            </div>
            <div class="col-5"></div>
            <div class="col-3">
              <div class="float-right">
                <form class="text-center mt-2" autocomplete="off" name="formBuscarReHo" id="formBuscarReHo">
                  <div class="float-left">
                    <div class="input-group form-control-lg p-0">
                      <div class="form-group m-0" id="accionBuscarDownHandlerReHo"></div>
                    </div>
                  </div>
                  <div class="float-right">
                    <div id="accionBuscarReHo" class="d-inline-block">
                      <button mat-mini-fab color="warn" type="button" (click)="mostrarList()" aria-placeholder="Listar">
                        <mat-icon>menu</mat-icon>
                      </button>
                    </div>
                    <div id="accionBuscarReHo" class="d-inline-block" *ngIf="soloAdmin">
                      <button mat-mini-fab color="warn" type="button" (click)="mostrarAgg()" aria-placeholder="Agregar">
                        <mat-icon>plus_one</mat-icon>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>


        <div class="col-2 pt-2">
          <mat-card-actions class="child">
            <button class="button" type="button" mat-raised-button color="primary" (click)="estadisticas()">Estadisticas

              <span class="material-icons">sort</span>

            </button>
          </mat-card-actions>
        </div>
        <mat-form-field>
          <mat-label>Buscar</mat-label>
          <input matInput (keyup)="filtrar($event)" placeholder="buscar" />
        </mat-form-field>

        <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
          class="mat-elevation-z8">
          <!-- id Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by id">
              id
            </th>
            <td mat-cell *matCellDef="let semillero">{{ semillero.id }}</td>
          </ng-container>

          <!-- id nombre -->
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by nombre">
              Nombre
            </th>
            <td mat-cell *matCellDef="let semillero">{{ semillero.nombre }}</td>
          </ng-container>

              <!-- id nombre -->
              <ng-container matColumnDef="sigla">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by sigla">
                  Sigla
                </th>
                <td mat-cell *matCellDef="let semillero">{{ semillero.sigla }}</td>
              </ng-container>

    
            <!-- id cantidad_estudiantes -->
            <ng-container matColumnDef="canEstudiantes">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by canEstudiantes">
                Cantidad de Estudiantes
              </th>
              <td mat-cell *matCellDef="let semillero">
                {{ semillero.canEstudiantes }}
              </td>
            </ng-container>

          <!-- Nombre fechaConformacion -->
          <ng-container matColumnDef="fechaConformacion">
            <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header
              sortActionDescription="Sort by fechaConformacion">
              Fecha Conformacion
            </th>

            <td mat-cell *matCellDef="let semillero" class="row">
              <div class="col">
                {{ semillero.fechaConformacion }}
              </div>

           
            </td>
          </ng-container>

                <!-- id programaAcademico -->
                <ng-container matColumnDef="programaAcademico">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by programaAcademico">
                    Programa Academico
                  </th>
                  <td mat-cell *matCellDef="let semillero">
                    <div class="row">
                    <div class="col">
                       {{ semillero.programaAcademico }}
                    </div>
                   

                    <div class="col" *ngIf="soloAdmin">
                      <button mat-flat-button color="primary" (click)="enviarID(semillero.id)"
                        aria-label="Example icon button with a delete icon">
                        <span class="material-icons">mode_edit</span>
                      </button>
                    
                    </div>
                  </div>
                  </td>
                </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <button mat-raised-button  (click)="exportAsXLSX()" color="primary"> Export
          <mat-icon>trending_down</mat-icon>
        </button>
        &nbsp;
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
          aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>
    </div>
  </div>
</div>

<!-- Formulario Agregar -->

<div class="agregar" *ngIf="mostrarAgregar">
  <div class="agregar">
    <div class="main-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-danger row">
                <div class="col-4">
                  <h4 class="card-title">Create semillero</h4>
                  <p class="card-category">Complete your params</p>
                </div>
                <div class="col-5"></div>
                <div class="col-3">
                  <div class="float-right">
                    <form class="text-center mt-2" autocomplete="off" name="formBuscarReHo" id="formBuscarReHo">
                      <div class="float-left">
                        <div class="input-group form-control-lg p-0">
                          <div class="form-group m-0" id="accionBuscarDownHandlerReHo"></div>
                        </div>
                      </div>
                      <div class="float-right">
                        <div id="accionBuscarReHo" class="d-inline-block">
                          <button mat-mini-fab color="warn" type="button" (click)="mostrarList()"
                            aria-placeholder="Listar">
                            <mat-icon>menu</mat-icon>
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div *ngIf="mostrarAgregarIndividual">

                <div class="card-body">
                  <form (submit)="crearsemillero()">
                    <div class="row">
                      <div class="col-md-2">
                        <mat-form-field class="example-full-width">
                          <input [(ngModel)]="id" matInput placeholder="Codigo" type="text" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-2">
                        <mat-form-field class="example-full-width">
                          <input [(ngModel)]="sigla" matInput placeholder="Sigla" type="text" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                          <input [(ngModel)]="nombre" matInput placeholder="Full Name" type="text" />
                        </mat-form-field>
                      </div>

                    

                      <div class="row">
                        <div class="col">
                          <label for="wrapped">Facultad</label>
  
                          <select class="form-select" aria-label="Default select example" 
                            (click)="mostrar($event)">
  
                            <option value="" selected disabled>Please select</option>
  
                            <option *ngFor="let facultad of ListarFacultad" value="{{ facultad.id }}"  >
                              {{ facultad.nombre }}
                            </option>
                          </select>
                        </div>
                        <div class="col-4">
                          <label for="wrapped">Programa Academico</label>
  
                          <select class="form-select" aria-label="Default select example"
                            [value]="Semilleros.programaAcademico">
                            <option value="" selected disabled>Please select</option>
  
                            <option *ngFor="let programa of listaPro" value="{{ programa.id }}">
                              {{ programa.nombre }}
                            </option>
                          </select>
                        </div>
                       
                      </div>

                      <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                          <input [(ngModel)]="cantidadEstudiantes" matInput placeholder="Cantidad Estudiantes" type="number" />
                        </mat-form-field>
                      </div>

                      <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                          <input [(ngModel)]="fechaConformacion" matInput
                            placeholder="Fecha Conformacion" type="date" />
                        </mat-form-field>
                      </div>
                  
                    </div>
                    <div class="col clearfix">

                      <button mat-raised-button type="submit" class="btn btn-danger pull-right">
                        Create semillero
                      </button>
                    </div>
                    <div class="row">
                      <div class="col clearfix">
                        <button (click)="mostrarMas()" class="btn btn-danger pull-right">
                          Cambiar A Masivo
                        </button>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
              <!-- Modal -->
              <div *ngIf="mostrarAgregarMasivo" class="row">

                <div class="col-2">
                  <div>
                    <a href="../../assets/Files/PlantillaSemillero (1).xlsx" class="link-success pl-2 pt-2">
                      <div>
                        <img src="../../assets/Files/excel.png" width="40%" class="rounded mx-auto d-block" alt="">

                      </div>
                      <div>
                        <span class="badge badge-success"> Descargar Plantilla
                        </span>

                      </div>
                    </a>
                  </div>
                  <div class="clearfix">
                    <button (click)="mostrarIndi()" class="btn btn-danger ">
                      Cambiar A Individal
                    </button>
                  </div>


                </div>
                <div class="col-10">
                  <form id="file-upload-form" class="uploader">
                    <div class="form-group files">

                      <input id="file-upload" type="file" (change)="onFileChange($event)" name="fileUpload"
                        accept=".xls,.xlsx" />
                    </div>

                    <label for="file-upload" id="file-drag">
                      <img id="file-image" src="#" alt="Preview" class="hidden">
                      <div id="start">
                        <i class="fa fa-download" aria-hidden="true"></i>
                        <div>Select a file or drag here</div>
                        <div id="notimage" class="hidden">Please select an Document </div>
                        <span id="file-upload-btn" class="btn btn-primary">Select a file</span>
                      </div>
                      <div id="response" class="hidden">
                        <div id="messages"></div>
                        <progress class="progress" id="file-progress" value="0">
                          <span>0</span>%
                        </progress>
                      </div>
                    </label>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Formulario Editar -->

<div class="agregar" *ngIf="mostrarEditar">
  <div class="agregar">
    <div class="main-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-danger row">
                <div class="col-4">
                  <h4 class="card-title">Editar semillero </h4>
                  <p class="card-category">Complete your params</p>
                </div>
                <div class="col-5"></div>
                <div class="col-3">
                  <div class="float-right">
                    <form class="text-center mt-2" autocomplete="off" name="formBuscarReHo" id="formBuscarReHo">
                      <div class="float-left">
                        <div class="input-group form-control-lg p-0">
                          <div class="form-group m-0" id="accionBuscarDownHandlerReHo"></div>
                        </div>
                      </div>
                      <div class="float-right">
                        <div id="accionBuscarReHo" class="d-inline-block">
                          <button mat-mini-fab color="warn" type="button" (click)="mostrarList()"
                            aria-placeholder="Listar">
                            <mat-icon>menu</mat-icon>
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <form (submit)="crearsemillero()">
                  <div class="row">
                    <div class="col-md-2">
                      <mat-form-field class="example-full-width">
                        <input [(ngModel)]="id" matInput placeholder="Codigo" type="text" [value]="Semilleros.id"/>
                      </mat-form-field>
                    </div>
                    <div class="col-md-2">
                      <mat-form-field class="example-full-width">
                        <input [(ngModel)]="sigla" matInput placeholder="Sigla" type="text" [value]="Semilleros.sigla"/>
                      </mat-form-field>
                    </div> 
                    <div class="col-md-4">
                      <mat-form-field class="example-full-width">
                        <input [(ngModel)]="nombre" matInput placeholder="Full Name" type="text" [value]="Semilleros.nombre" />
                      </mat-form-field>
                    </div>

                    <div class="row">
                      <div class="col">
                        <label for="wrapped">Facultad</label>

                        <select class="form-select" aria-label="Default select example" [value]="Semilleros.facultad"
                          (click)="mostrar($event)">

                          <option value="" selected disabled>Please select</option>

                          <option *ngFor="let facultad of ListarFacultad" value="{{ facultad.id }}"  >
                            {{ facultad.nombre }}
                          </option>
                        </select>
                      </div>
                      <div class="col-4">
                        <label for="wrapped">Programa Academico</label>

                        <select class="form-select" aria-label="Default select example"
                          [value]="Semilleros.programaAcademico">
                          <option value="" selected disabled>Please select</option>

                          <option *ngFor="let programa of listaPro" value="{{ programa.id }}">
                            {{ programa.nombre }}
                          </option>
                        </select>
                      </div>
                     
                    </div>

                    <div class="col-md-4">
                      <mat-form-field class="example-full-width">
                        <input [(ngModel)]="cantidadEstudiantes" matInput placeholder="Cantidad Estudiantes" type="number" [value]="Semilleros.canEstudiantes"/>
                      </mat-form-field>
                    </div>

                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <input [value]="Semilleros.fechaConformacion | date: 'yyyy-MM-dd'" matInput
                          placeholder="Fecha de Conformacion" type="date" />
                      </mat-form-field>
                    </div>
                 
                
                  </div>
                  <div class="col clearfix">

                    <button mat-raised-button type="submit" class="btn btn-danger pull-right">
                      Editar semillero
                    </button>
                  </div>
                  <div class="row">
                    <div class="col clearfix">
                      <button (click)="mostrarMas()" class="btn btn-danger pull-right">
                        Cambiar A Masivo
                      </button>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  
 
</div>

 <!-- Modal Estadisticas -->

 <div class="agregar" *ngIf="mostrarEstadistica">
  <div class="agregar">
    <div class="main-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-danger row">
                <div class="col-4">
                  <h4 class="card-title">Generate stadistics</h4>
                  <p class="card-category">Complete your Filter</p>
                </div>
                <div class="col-5"></div>
                <div class="col-3">
                  <div class="float-right">
                    <form class="text-center mt-2" autocomplete="off" name="formBuscarReHo" id="formBuscarReHo">
                      <div class="float-left">
                        <div class="input-group form-control-lg p-0">
                          <div class="form-group m-0" id="accionBuscarDownHandlerReHo"></div>
                        </div>
                      </div>
                      <div class="float-right">
                        <div id="accionBuscarReHo" class="d-inline-block">
                          <button mat-mini-fab color="warn" type="button" (click)="mostrarList()"
                            aria-placeholder="Listar">
                            <mat-icon>menu</mat-icon>
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div >

                <div class="card-body">
                 
                  <form [formGroup]="filtroProducto" (ngSubmit)="filtrarEstadistica()" class="demo-button">

                    <div class="row align-self-center">
                      <div class="col-md-3">
                        <mat-form-field appearance="fill">
                          <input matInput [matDatepicker]="picker1" [formControl]="inicio">
                          <mat-hint>MM/DD/YYYY</mat-hint>
                          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                          <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                        
                    
                        
                      </div>

                      <div class="col-md-3">
                        <mat-form-field appearance="fill">
                          <input matInput [matDatepicker]="picker2"
                                 [formControl]="fin">
                          <mat-hint>MM/DD/YYYY</mat-hint>
                          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                          <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                      </div>
                     
                      <div class="row">

                       
                      
                     

                     
                    
                        <div class="col">
                          <label for="wrapped">Facultad</label>

                          <select class="form-select" aria-label="Default select example"
                            (click)="mostrar($event)">

                            <option value="" selected disabled>Please select</option>

                            <option *ngFor="let facultad of ListarFacultad" value="{{ facultad.id }}"  >
                              {{ facultad.nombre }}
                            </option>
                          </select>
                        </div>


                        <div class="col">
                          <label for="wrapped">Programa Academico</label>

                          <select class="form-select" aria-label="Default select example"
                          (click)="guardarPrograma($event)">
                            <option value="" selected disabled>Please select</option>

                            <option *ngFor="let programa of listaPro" value="{{ programa.nombre }}">
                              {{ programa.nombre }}
                            </option>
                          </select>
                        </div>
      

                        <div class="col pt-4">
                          
                          <mat-card-actions class="child">
                            <button class="button" type="submit" mat-raised-button color="primary">Filtrar</button>
                          </mat-card-actions>
                          <br>
                          
                        </div>

                      </div>
                     

                    </div>
                  
    
                
           
                
                  </form>
                  <div id="estadistica">
                    <div class="col">
                  <ngx-charts-bar-vertical
                  [view]="view"
                  [scheme]="colorScheme"
                  [results]="nuevo"
                  [gradient]="gradient"
                  [xAxis]="showXAxis"
                  [yAxis]="showYAxis"
                  [legend]="showLegend"
                  [showXAxisLabel]="showXAxisLabel"
                  [showYAxisLabel]="showYAxisLabel"
                  [xAxisLabel]="xAxisLabel"
                  [yAxisLabel]="yAxisLabel"
                  [showDataLabel]="showDataLabel"
                  (select)="onSelect($event)">
                  </ngx-charts-bar-vertical>
                    </div>
                  <div class="col-2">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">Tipo</th>
                          <th scope="col">Cantidad</th>
                        </tr>
                      </thead>
                      <tbody *ngFor="let dato of pros">
                        <tr >
                          <td scope="row">{{dato.name}}</td>
                          <td scope="row">{{dato.value}}</td>
                        </tr>
                       
                      </tbody>
                    </table>
                  </div>
                  </div>
                </div>
              </div>
              <div class="col-2 pt-2">
                <mat-card-actions class="child">
                  <button class="button" type="button" mat-raised-button color="primary" (click)="imprSelec()">Imprimir
  
                    <span class="material-icons">print</span>
  
                  </button>
                </mat-card-actions>
              </div>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>