<div>
    <div class="main-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-danger row">
                <div class="col-4">
                  <h4 class="card-title">Edit Producto</h4>
                  <p class="card-category">Complete your params</p>
                </div>
                <div class="col-5"></div>
                <div class="col-3">
                  <div class="float-right">
                    <form class="text-center mt-2" autocomplete="off" name="formBuscarReHo" id="formBuscarReHo">
                      <div class="float-left">
                        <div class="input-group form-control-lg p-0">
                          <div class="form-group m-0" id="accionBuscarDownHandlerReHo"></div>
                        </div>
                      </div>
                      <div class="float-right">
                        <div id="accionBuscarReHo" class="d-inline-block">
                          <button mat-mini-fab color="warn" type="button" (click)="mostrarList()"
                            aria-placeholder="Listar">
                            <mat-icon>menu</mat-icon>
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <form (submit)="editarProducto()">
                  <div class="row">
                    <!-- <div class="col-md-2">
                      <mat-form-field class="example-full-width">
                        <input [(ngModel)]="productos.id" matInput placeholder="Codigo" type="text" />
                      </mat-form-field>
                    </div> -->
                    <div class="col">
                    

                      <label for="wrapped">Tipo Producto</label>

                      <select class="form-select" aria-label="Default select example"
                        [(ngModel)]="productoN.tipo_prod"  (click)="listarSubCategoriaProducto($event)">
                        <option value="" selected disabled>Please select</option>
                        <option *ngFor="let sub of listarSubCategoriasEspecifica" value="{{ sub.id }}">
                          {{ sub.descripcion }}
                        </option>
                      </select>
                    
                    </div>
                    <div class="col">
                    

                      <label for="wrapped">Categoria General</label>

                      <select class="form-select" aria-label="Default select example" [(ngModel)]="productoN.subcategoria">
                        <option value="" selected disabled>Please select</option>
                        <option *ngFor="let sub of listarSubCategoriasGeneral" value="{{ sub.id }}">
                          {{ sub.descripcion }}
                        </option>
                      </select>
                    
                    </div>
                    <div class="pt-3 col-md-4">
                      <mat-form-field class="example-full-width">
                        <input [(ngModel)]="productoN.cantidad" matInput placeholder="Cantidad" type="number" />
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col">
                      <label for="wrapped">Sub Categoria</label>

                      <select class="form-select" aria-label="Default select example"
                        [value]="productoN.subcategoria">
                        <option value="" selected disabled>Please select</option>

                        <option *ngFor="let sub of listarSubCategoriasProducto" value="{{ sub.id }}">
                          {{ sub.descripcion }}
                        </option>
                      </select>
                    </div>

                    <div class="pt-3 col-md-4">
                      <mat-form-field class="example-full-width">
                        <input [(ngModel)]="productoN.fecha" matInput placeholder="Fecha" type="date" />
                      </mat-form-field>
                    </div>
                    <div class="pt-3 col-md-4">
                      <label for="wrapped">Grupo</label>

                      <select class="form-select" aria-label="Default select example" [(ngModel)]="productoN.grupo">
                        <option value="" selected disabled>Please select</option>

                        <option *ngFor="let grupo of ListarGrupos" value="{{ grupo.id }}">
                          {{ grupo.nombre }}
                        </option>
                      </select>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col">
                      <label for="wrapped">Facultad</label>

                      <select class="form-select" aria-label="Default select example" [value]="productoN.facultad"
                        (click)="mostrar($event)">

                        <option value="" selected disabled>Please select</option>

                        <option *ngFor="let facultad of ListarFacultad" value="{{ facultad.id }}"  >
                          {{ facultad.nombre }}
                        </option>
                      </select>
                    </div>
                    <div class="col-4">
                      <label for="wrapped">Programa Academico</label>

                      <select class="form-select" aria-label="Default select example"
                        [value]="productoN.programa">
                        <option value="" selected disabled>Please select</option>

                        <option *ngFor="let programa of listaPro" value="{{ programa.id }}">
                          {{ programa.nombre }}
                        </option>
                      </select>
                    </div>
                   
                  </div>
                  <div class="col clearfix">

                    <button mat-raised-button type="submit" class="btn btn-danger pull-right">
                      Edit Product
                    </button>
                  </div>
                  <div class="row">
                    <div class="col clearfix">
                      <button (click)="mostrarMas()" class="btn btn-danger pull-right">
                        Cambiar A Masivo
                      </button>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
