<div *ngIf="isLogged">




  <div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-danger">
              <h4 class="card-title"><b>Usuarios registrados</b></h4>
              <p class="card-category">Usuarios registrados exitosamente.</p>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class=" text-primary">
                    <tr>
                      <th scope="col">Id</th>
                      <th scope="col">Username</th>
                      <th scope="col">Nombre</th>
                      <th scope="col">Contraseña</th>
                      <th scope="col">Rol</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let user of ListarUser">
                      <th>{{ user.id }}</th>
                      <td>{{ user.name }}</td>
                      <td>{{ user.username }}</td>
                      <td>{{ user.password }}</td>
                      <td>{{ user.rol }}</td>
                      <td>
                        <button mat-flat-button color="warn" (click)="edit(user.id)"
                          aria-label="Example icon button with a delete icon">
                          <span class="material-icons">mode_edit</span>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>