<div *ngIf="isLogged">



<div *ngIf="listar">
  <div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-danger">
              <h4 class="card-title"><b>Usuarios registrados</b></h4>
              <p class="card-category">Usuarios registrados exitosamente.</p>
            </div>
            <div class="card-header card-header-danger row">
                    
              <div class="col-5"></div>
              <div class="col-3">
                <div class="float-right">
                  <form class="text-center mt-2" autocomplete="off" name="formBuscarReHo" id="formBuscarReHo">
                    <div class="float-left">
                      <div class="input-group form-control-lg p-0">
                        <div class="form-group m-0" id="accionBuscarDownHandlerReHo"></div>
                      </div>
                    </div>
                    <div class="float-right">
                      <div id="accionBuscarReHo" class="d-inline-block">
                        <button mat-mini-fab color="warn" type="button" (click)="mostrarListado()"
                          aria-placeholder="Listar">
                          <mat-icon>menu</mat-icon>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class=" text-primary">
                    <tr>
                      <th scope="col">Id</th>
                      <th scope="col">Username</th>
                      <th scope="col">Nombre</th>
                      <th scope="col">Contraseña</th>
                      <th scope="col">Rol</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let user of ListarUser">
                      <th>{{ user.id }}</th>
                      <td>{{ user.name }}</td>
                      <td>{{ user.username }}</td>
                      <td>{{ user.password }}</td>
                      <td>{{ user.rol }}</td>
                      <td>
                        <button mat-flat-button color="warn" (click)="enviarId(user.id)"
                          aria-label="Example icon button with a delete icon">
                          <span class="material-icons">mode_edit</span>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





<div *ngIf="edita">
  <div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Edit Account</h4>
                        <p class="card-category">Complete your profile</p>
                    </div>
                    <div class="card-header card-header-danger row">
                    
                      <div class="col-5"></div>
                      <div class="col-3">
                        <div class="float-right">
                          <form class="text-center mt-2" autocomplete="off" name="formBuscarReHo" id="formBuscarReHo">
                            <div class="float-left">
                              <div class="input-group form-control-lg p-0">
                                <div class="form-group m-0" id="accionBuscarDownHandlerReHo"></div>
                              </div>
                            </div>
                            <div class="float-right">
                              <div id="accionBuscarReHo" class="d-inline-block">
                                <button mat-mini-fab color="warn" type="button" (click)="mostrarListado()"
                                  aria-placeholder="Listar">
                                  <mat-icon>menu</mat-icon>
                                </button>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                    <div class="card-body">
                      <form (submit)="editar()">
                          <div class="row">
                            <div class="col" style="display: none;">
                              <mat-form-field class="example-full-width">
                                <input  [(ngModel)]="id" value="{{user.id}}" matInput placeholder="Full Name" type="text">
                              </mat-form-field>
                            </div>
                            <div class="col">
                              <mat-form-field class="example-full-width">
                                <input  [(ngModel)]="name" value="{{user.name}}" matInput placeholder="Full Name" type="text">
                              </mat-form-field>
                            </div>
                            <div class="row col">
           
                              <div class=" col">
                                <label for="wrapped">Rol</label>
  
                                <select class="form-select" aria-label="Default select example"  [(ngModel)]="rol" value="{{user.rol}}">
                                  <option value="" selected disabled>Please select</option>
                                  <option value="Admin">
                                    Admin
                                  </option>
                                  <option value="User">
                                    User
                                  </option>
                                </select>
                              </div>
                            </div>
                            
                        </div>
                            <div class="row">
                               
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                      <input [(ngModel)]="username" value="{{user.username}}" matInput placeholder="Username">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                      <input [(ngModel)]="password" value="{{user.password}}" matInput placeholder="Contraseña" type="password">
                                    </mat-form-field>
                                </div>
                            </div>
                           
                        
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right">Edit Account</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
         
        </div>
    </div>
  </div>
</div>

</div>