<div id="contenedor">
  <div id="central">
    <div id="login">
      <div class="titulo">
        <b>Registro</b>
      </div>
      <form (submit)="signUp()">
        <input [(ngModel)]="user.name"  type="text" name='full_name' placeholder="username" class="fa fa-user" required />
        <input [(ngModel)]="user.username"  type="text" name='username' placeholder="username" class="fa fa-user" required />
        <input [(ngModel)]="user.password"  type="password" name="password" placeholder="password" class="fa fa-key" required />
        <div class="pie-form">
          <button class="state">Registrar</button>
        </div>
      </form>
      <div class="pie-form">
        <a routerLink="/login"><b>Iniciar Sesión!</b></a>
      </div>
    </div>
  </div>
</div>